/*****************     CSS  PAGINAS WEB ALMAS     ****************/

$col-seccion: #FF8000;
$col-blanco: white;
$col-principal: #656078;
$col-titulos: #EDBB5C;
$col-ninos: #9BC777;
$col-nav: #A2C2C9;

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}



/* CONTENIDO GENERAL */

@font-face {font-family:"Bureau Trend";src:url("Bureau_Trend.eot?") format("eot"),url("Bureau_Trend.woff") format("woff"),url("Bureau_Trend.ttf") format("truetype"),url("Bureau_Trend.svg#Bureau-Trend") format("svg");font-weight:normal;font-style:normal;}

header#header {
    @include sizes(100%, 90px);
    display: flex;
    background-color: $col-principal;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 999;
}


div#header-nav {
    width: 44%;
    display: flex;
    nav {
        width: 100%;
        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            margin-top: 37px;
            a {
                text-decoration: none;
                font-size: 15px;
                color: $col-nav;
                transition: all 0.5s;
                &:hover {
                    color: $col-blanco;
                    font-weight: bolder;
                    font-size: 16px;
                }
            }
        }
    }
}


#header-carrito a img {
    width: 36px;
    margin-right: 120px;
}

body {
    font-family: arial,sans-serif;
}

main.main-productos {
    background-image: url(../img/marmol.jpg);
    margin-top: -18px;
}

main#main-ninos {
    background-image: linear-gradient(to bottom, #fcff99, #91e842);
    margin-top: -18px;
}


div#header-compra {
    display: flex;
    align-items: center;
}

input.header-busq {
    width: 120px;
    border-radius: 40px;
    font-size: 18px;
}

footer#footer {
    display: flex;
    justify-content: space-around;
    background-color: $col-principal;
}

div#texto-footer {
    margin-left: 45px;
    margin-top: 40px;
    color: white;
    text-align: center;
}

div#footer-consulta {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 40px;
    margin-bottom: 40px;
    color: $col-blanco;
}

p.ayuda-footer {
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}

a.compras-footer {
    text-decoration: none;
    color: $col-blanco;
    font-size: 15px;
    text-align: center;
    &:hover{
        color: $col-titulos;
    }
}

div#redes {
    @include sizes(100%, 30px);
    display: flex;
    justify-content: center;
    a img {
        margin-top: 10px;
        width: 20px;
        margin-left: 40px;
    }
}

div#footer-logo {
    width: 24%;
}


/* CONTENIDO INDEX */

div#img-principal {
    @include sizes(100%, 650px);
    margin-top: 10px;
    img {
        width: 100%;
        height: 650px;
    }
}

div#productos-index {
    margin-top: 4%;
}

div#imagen-principal {
    width: 15%;
    margin-top: 20px;
    h1 a {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 10px;
        color: #D3D3D3;
        &:hover {
            text-decoration: none;
            color: $col-blanco;
        }
    }
}

a.sale{    
    &:hover{
        text-decoration: none;
    }
}

@keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}
  


h3.display {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transition: all 1s;
    color: $col-titulos;
    font-size: 55px;
    &:hover{
        font-size: 65px;
    }
}

h2.display {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transition: all 1s;
    color: $col-titulos;
    font-size: 120px;
    &:hover{
        font-size: 130px;
    }
}

@keyframes pulse {
    0% { transform: scale(1.1) }
    25% { transform: scale(0.8) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1.1) }
  }

h3.display-2 {
    margin-bottom: 10%;
    animation: pulse 4s linear infinite;
    transform-origin: 50% 50%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: $col-seccion;
    font-size: 80px;
    font-weight: bold;
    &:hover{
        font-size: 90px;
        font-weight: bold;
    }
}


@keyframes tada {
    0% { transform: scale(1) }
    5.55556% { transform:scale(.9) rotate(-8deg) }
    11.11111% { transform:scale(.9) rotate(-8deg) }
    16.66667% { transform:scale(1.3) rotate(8deg) }
    22.22222% { transform:scale(1.3) rotate(-8deg) }
    27.77778% { transform:scale(1.3) rotate(8deg) }
    33.33333% { transform:scale(1.3) rotate(-8deg) }
    38.88889% { transform:scale(1.3) rotate(8deg) }
    44.44444% { transform:scale(1) rotate(0) }
    100% { transform:scale(1) rotate(0) }
  }

.display-3 {
    animation: tada 3.6s linear infinite;
    transform-origin: 50% 50%;
    font-family: sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: $col-blanco;
    margin: 0px 64% 0px 0px;
}




.detalle-seccion {
    @include sizes(27%, 300px);
    margin-top: 40px;
    background-color: $col-seccion;
    opacity: 65%;
    &:hover {
        background-color: $col-seccion;
        opacity: 100%;
    }
    a {
        text-decoration: none;
    }
}

div#secciones {
    display: flex;
    justify-content: space-around;
}


h2.detalle-seccion-h2 {
    font-size: 66px;
    text-align: center;
    margin-top: 26%;
    color: $col-blanco;
}

div#muestra-producto-index {
    display: flex;
    justify-content: center;
}

img.imagen-producto {
    @include sizes(16%, 230px);
    margin: 80px 20px 0px 0px;
}

.container {
    padding-bottom: 60px;
}

/* CONTENIDO SECCIONES */


#titulo h2 {
    font-size: 100px;
    text-align: center;
    letter-spacing: 30px;
    margin-top: 8%;
    padding-top: 30px;
    font-family: "Bureau Trend";
    color: $col-titulos;
}

#titulo-ninos h2 {
    font-size: 90px;
    text-align: center;
    letter-spacing: 30px;
    margin-top: 8%;
    padding-top: 30px;
    font-family: cursive;
    transition: all 2s;
    color: $col-ninos;
}

div#productos {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 80px;
}

div#busqueda-productos {
    width: 60%;
    text-align: right;
    margin-right: 40px;
}

div.tipo {
    margin-bottom: 20px;
    font-family: cursive;
}

.tipo label {
    margin-right: 26px;
}

table#tab-listado {
    width: 100%;
}

div#muestra-productos {
    width: 100%;
}

#tab-listado td img {
    margin: 6px;
    width: 93%;
}

div#img-contacto {
    @include sizes(100%, 1000px);
    background-image: url(../img/contacto.png);
    background-position-x: center;
    margin-top: -18px;
    margin-bottom: -70px;
}

button.btn.btn-primary{
    background-color: $col-principal;
    &:hover{
        color: $col-principal;
        background-color: $col-blanco;
    }
}

a.muestra_imagen{
    width: 100%;
    transition: all 2s;
    &:hover{
         width: 110%;
    }
}

figure {
    margin: 0 0 1rem;
    border: 1px solid lightgray;
    width: 24%;
    height: 448px;
    display: inline-table;
    margin-left: 32px;
    text-align-last: center;
    padding: 11px;
    background-color: white;
}

.contenidoGaleria {
    text-align: center;
}

.container {
    padding-bottom: 16px;
    margin-top: 7px;
}

div#titulo-ninos {
    text-align: -webkit-center;
    margin-top: 106px;
}

#titulo-ninos img {
    padding-top: 50px;
}


/********         Carousel             *********/


.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;
    li {
        @include sizes(20px, 4px);
        background: #a3a3a3;
        border-radius: 50%;
    }
    .active {
        background: #707070;
    }
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 35%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}


/************   CONTACTO  ************/

    div#form-menu {
    display: flex;
    flex-direction: column;
    width: 49%;
    background-color: whitesmoke; 
    }
  
  .form-control {
    transition: all 1s; 
    }
  
  
  textarea#mensaje {
    width: 400px;
    display: block;
    margin-bottom: 20px; 
    }
  
  button#btn-contacto {
    margin-bottom: 12px;
    margin-top: 20px;
    background-color: $col-titulos;
    color: $col-blanco;
    display: block;
    padding: 10px; 
    &:hover {
        background-color: $col-blanco;
        color: $col-titulos;
        transform: skewX(10deg); 
        }
    }
 
  
  div#btn_contacto {
    margin-bottom: 30px;
    color: $col-blanco;
    padding: 8px; 
    }
  

    form.form-horizontal {
        text-align: -webkit-center;
        margin-top: 10%;
        input {
            transition: all 2s;
            &:focus {
                width: 500px;
                font-size: 20px;
            }
        }
    }
 


/************   MEDIA QUERYS  ************/

@media (min-width: 360px) and (max-width: 500px) {
    #titulo h2 {
        font-size: 60px;
        text-align: center;
        letter-spacing: 24px;
        margin-top: 8%;
        padding-top: 70px;
        font-family: "Bureau Trend";
        color: #EDBB5C;
        animation-timing-function: ease-in;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }

    div#imagen-principal {
        margin-top: 20px;
    }
    }